/* 전체 */
:root {
    --back-color: white;
    --black-color: #2c2c2c;
    --gray-color: #c1c1c1;
}

body {
    font-family: 'Roboto';
    margin: 0px;
    padding: 0px;
}

h1 {
    margin-bottom: 15px;
}

button {
    outline: 0;
    border: 0;
}

ul, ol, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--black-color);
}


/* 헤더 */
.resister__header {
    display: flex;
    position: relative;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #c1c1c1;
    background-color: #ffffff;
    color: black;
    z-index: 1;
}

.resister__header_logo span {
    font-size: 1.5rem;
    color: #424242;
    font-weight: 800;
    padding: 0px 8px 0px 0px;
    margin: 0px 8px 0px 0px;
}

.resister__header_title {
    font-size: 11px;
    color: #424242;
}


/* 회원 가입 폼 */
.resister__form_inputPage {
    padding: 0px 24px 24px;
}

.resister__content {
    padding: 0px 24px 24px;
}

.resister__content_title {
    margin: 0;
    left: 30px;
    font-size: 20px;
    padding: 20px;
    border-bottom: 1px solid #c1c1c1;
}

/* 회원 가입 이메일 */
.resister__form_email_section div{
    display: flex;
    flex-direction: column;
}

.resister__form_email_label {
    font-size: 14px;
    padding: 0px 0px 4px;
}

.resister__form_email_section input {
    padding: 0px 16px;
    height: 48px;
    border: 1px solid #c1c1c1;
}

.blankspan {
    display: block;
    margin: 10px;
}

/* 회원 가입 비밀번호*/
.resister__form_password_section div{
    display: flex;
    flex-direction: column;
}

.resister__form_password_label {
    font-size: 14px;
    padding: 0px 0px 4px;
}

.resister__form_password_section input {
    padding: 0px 16px;
    height: 48px;
    border: 1px solid #c1c1c1;
}

#resister__form_submit {
    margin-bottom: 8px;
    padding: 12px;
    width: 100%;
    height: 48px;
    color: #ffffff;
    background-color: #000;
}

#resister__form_cancle {
    margin-bottom: 24px;
    padding: 12px;
    width: 100%;
    height: 48px;
    color: #000;
    background-color: #fff;
    border: 1px solid var(--black-color);
}

/* 사용자 정보 */
.resister__form_user_section div {
    display: flex;
    flex-direction: column;
}

.resister__form_user_section label {
    font-size: 14px;
    padding: 0px 0px 4px;
}

.resister__form_user_section input {
    padding: 0px 16px;
    height: 48px;
    border: 1px solid #c1c1c1;
}

#resister__form_tel {
    background-color: #000;
    color: #ffffff;
}
