/* 전체 */
:root {
    --back-color: white;
    --black-color: #2c2c2c;
}

body {
    font-family: 'Roboto';
    margin: 0px;
    padding: 0px;
}

h1 {
    margin-bottom: 15px;
}

hr {
    margin: 0;
}

button {
    outline: 0;
    border: 0;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--black-color);
}


/* nav */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--back-color);
    padding: 12px 24px;
    border-bottom: 1px solid #c1c1c1;
    z-index: 2;
}

.navbar__logo {
    font-size: 24px;
    font-weight: bold;
    z-index: 2;
}


/* nav 사이드 메뉴 */
#navbar__sidebtn {
    display: none;
}

#navbar__sidebtn + label {
    display: block;
    width: 24px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

#navbar__sidebtn + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background: var(--black-color);
    transition: all .35s;
}

#navbar__sidebtn + label span:nth-child(1) {
    top: 0;
    z-index: 2;
}

#navbar__sidebtn + label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

#navbar__sidebtn + label span:nth-child(3) {
    bottom: 0;
    z-index: 2;
}

#navbar__sidebtn:checked + label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    z-index: 2;
}

#navbar__sidebtn:checked + label span:nth-child(2) {
    opacity: 0;
    z-index: 2;
}

#navbar__sidebtn:checked + label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
    z-index: 2;
}

.navbar__sidebar {
    width: 100%;
    height: 100%;
    background: var(--back-color);
    position: fixed;
    top: 0;
    z-index: 1;
    left: -100%;
    transition: all .35s;
    
}

#navbar__sidebtn:checked + label + div {
    left: 0;
}

.sidebar__content {
    font-size: 20px;
    padding: 70px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: space-between;
}

.category {
    width: 100%;
}

.category .category__meet, .category__seafood, 
.category__fruit, .category__vegetable, 
.sidebar__mypage, .sidebar__favorit {
    border-bottom: 1px solid #c1c1c1;
    padding: 16px;
}

.category a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar__account_content i {
    font-size: 20px;
    padding-right: 12px;
}

.sidebar__account_content .sidebar__mypage i {
    margin-right: 2.5px;
}



/* nav 검색 */
.navbar__search {
    position: absolute;
    left: 65px;
    top: 15px;;
}

#navbar__searchbtn {
    display: none;
}

#navbar__searchbtn + label {
    display: block;
    width: 24px;
    height: 20px;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

#navbar__searchbtn + label i {
    font-size: 24px;
    font-weight: 800;
}

.navbar__searchbar {
    width: 100%;
    height: 120px;
    background: var(--back-color);
    position: fixed;
    top: -120px;
    left: 0;
    z-index: 1;
    transition: all .35s;
    border-bottom: 1px solid #c1c1c1;
}

#navbar__searchbtn:checked + label + div {
    top: 0;
}

.navbar__searchbar .search__content {
    margin: 60px 32px 32px 32px;
}

.navbar__searchbar .search__content label {
    padding: 8px;
}

.navbar__searchbar .search__content input {
    width: 80%;
    height: 30px;
}


/* nav 로그인 */
.navbar__sign {
    font-size: 24px;
}

#navbar__signbtn {
    display: none;
}

#navbar__signbtn + label {
    display: block;
    width: 24px;
    height: 20px;
    position: relative;
    cursor: pointer;
    z-index: 5;
}

#navbar__signbtn + label span {
    display: none;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background: var(--black-color);
    transition: all .35s;
}

#navbar__signbtn:checked + label span:nth-child(1) {
    display: block;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    z-index: 5;
}

#navbar__signbtn:checked + label span:nth-child(2) {
    opacity: 0;
    z-index: 5;
}

#navbar__signbtn:checked + label span:nth-child(3) {
    display: block;
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
    z-index: 5;
}

.navbar__signbar {
    width: 100%;
    height: 100%;
    background: var(--back-color);
    position: fixed;
    top: 0;
    z-index: 4;
    right: -100%;
    transition: all .35s;
}

#navbar__signbtn:checked + label + div {
    right: 0;
}

#navbar__signbtn:checked + label i {
    display: none;
}


/* 로그인 폼 */
.login__content {
    padding: 0px 20px;
}

.login__header .login__header_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.login__header_title .login__close {
    color: #000000;
}

.login__form .login__form_title {
    font-size: 24px;
    font-weight: bolder;
}

.login__form label {
    margin: 0px 0px 8px;
    font-size: 12px;
}

.login__form .login__email_board {
    padding: 0px 3px;
}

.login__form .login__password_board {
    padding: 0px 3px;
}

.login__form #login__email, #login__password {
    width: 100%;
    height: 40px;
}
.login__form .login__form_findPass {
    font-size: 6px;
    text-decoration: underline;
    background-color: var(--back-color);
    padding: 0px 3px;

}

.login__form .login__form_loginBtn {
    color: var(--back-color);
    background-color: var(--black-color);
    width: 100%;
    height: 48px;
    margin: 50px 0px;
    font-size: 14px;
}

.login__resister .login__resister_title {
    padding: 20px 0px;
    font-size: 24px;
    font-weight: bolder;
}

.login__resister {
    font-size: 16px;
}

.login__resister p {
    margin: 0;
    font-size: 12px;
}

.login__resister a {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--back-color);
    background-color: var(--black-color);
    margin-top: 20px;
    font-size: 14px;
}


/* 매장 자치구 및 이름 */
.location_gps {
    font-size: 24px;
    background-color: #fff;
}

.market__location {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    color: var(--black-color);
    padding: 12px 18px;
    box-shadow: 1px 1px #c1c1c1;
}

/* 표시된 매장의 품목 (사과, 배, 배추, 무) */
.market__fruit_list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--black-color);
    padding: 24px 24px;
    font-size: 12px;
    
}

.market__fruit_list .title {
    font-size: 16px;
    font-weight: 900;
}