/* 전체 */
:root {
    --back-color: white;
    --black-color: #2c2c2c;
    --gray-color: #c1c1c1;
}

body {
    font-family: 'Roboto';
    margin: 0px;
    padding: 0px;
}

button {
    outline: 0;
    border: 0;
}

ul, ol, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--black-color);
}

/* 헤더 */
